<form class="form">
	<div class="grid__column grid__column--4">
		<div class="form__item">
			{{input type="number" class="form__input" name="" placeholder="Quarter" value=budget.quarter disabled="disabled" }}
		</div>
	</div>
	<div class="grid__column grid__column--4">
		<div class="form__item">
			{{input type="number" class="form__input" name="" placeholder="Total trained" value=budget.amount}}
		</div>
	</div>
	{{yield}}
</form>