{{!-- {{yield}} --}}
<td class="country-table__name">{{country.name}}</td>
<td class="country-table__trained">{{country.totalTrained}}</td>
<td class="country-table__online">{{country.totalOnline}}</td>
<td class="country-table__offline">{{country.totalOffline}}</td>
<td class="country-table__partners">{{country.totalPartners}}</td>
{{#link-to 'admin.countries.country' country tagName='td' class='country-table__action'}}view{{/link-to}}
{{!-- </tr> --}}