{{!-- {{yield}} --}}
<td class="partner-table__logo">
	<div class="logo logo--table">
		<img src="{{partner.logo}}">
	</div>
</td>
<td class="partner-table__details">{{partner.name}}</td>
<td class="partner-table__trained">{{partner.trainings.length}}</td>
<td class="partner-table__countries">{{partner.trainings.length}}</td>
{{#link-to 'admin.partners.partner' partner tagName='td' class='partner-table__action'}}view{{/link-to}}
{{!-- </tr> --}}
