
<td class="report-table__status report-table__status--{{training.status}}">
	<img src="/assets/images/icons/approved.svg" class="status-icon status-icon--approved">
	<img src="/assets/images/icons/pending.svg" class="status-icon status-icon--pending">
	<img src="/assets/images/icons/rejected.svg" class="status-icon status-icon--flagged">
</td>
<td class="report-table__details">
	<h3 class="report-table__title">{{training.snippet}}</h3>
	<div class="report-table__content">
		<div class="u-margin-top-xs report-table__content-section">
			<div class="grid__column grid__column--4">
				<div class="u-text-muted">Description: </div>
			</div>
			<div class="grid__column grid__column--8">
				{{training.description}}
			</div>
		</div>
		<div class="u-clear"></div>
		<div class="u-margin-top-sm report-table__content-section">
			<div class="grid__column grid__column--4">
				<span class="u-text-muted">Males trained: </span>
			</div>
			<div class="grid__column grid__column--8">
				{{training.maleTrained}}
			</div>
		</div>
		<div class="u-clear"></div>
		<div class="u-margin-top-sm report-table__content-section">
			<div class="grid__column grid__column--4">
				<span class="u-text-muted">Females trained: </span>
			</div>
			<div class="grid__column grid__column--8">
				{{training.femaleTrained}}
			</div>
		</div>
		<div class="u-clear"></div>
		<div class="u-margin-top-sm report-table__content-section">
			<div class="grid__column grid__column--4">
				<span class="u-text-muted">Training mode: </span>
			</div>
			<div class="grid__column grid__column--8">
				{{training.mode}}
			</div>
		</div>
	</div>
</td>
<td class="report-table__attendees">{{training.totalTrained}}</td>
<td class="report-table__date">{{training.country}}</td>
<td class="report-table__location">{{training.trainingDate}}</td>
<td class="report-table__toggle" {{action "toggleExpanded"}}>expand</td>