<form class="form">
	<div class="grid__column grid__column--4">
		<div class="form__item">
			{{input type="number" class="form__input" name="" placeholder="Quarter" value=target.quarter disabled="disabled"}}
		</div>
	</div>
	<div class="grid__column grid__column--4">
		<div class="form__item">
			{{input type="number" class="form__input" name="" placeholder="Total trained" value=target.totalTrained}}
		</div>
	</div>
	{{yield}}
</form>