{{!-- {{ partial 'admin/nav' }} --}}

<div class="page-wrap">

	<div class="page-section">
		<div class="container">
			<div class="u-float-right">
				{{#link-to "admin.partners.new" tagName="button" class="button button--primary"}}Add Partner{{/link-to}}
			</div>
			<div class="u-clear"></div>
		</div>
	</div>

	<div class="page-section page-section--has-margin-top">
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Partner</th>
						<th>Trained #</th>
						<th>Countries #</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each model as |partner|}}
						{{partner-item partner=partner}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>

	