{{!-- {{ partial 'admin/nav' }} --}}

<div class="page-wrap">
	<div class="container">
		<div class="grid">
			<div class="grid__column grid__column--4 grid__column--centered">
				
				<form class="form form--new-report" {{action 'createPartner' on='submit'}}>
					<div class="form__heading u-text-center">
						<h1 class="primary-heading">New Partner</h1>
					</div>

					<div class="form__body">
						<div class="form__item">
							{{input class="form__input" placeholder="Partner Name" type="text" autofocus="autofocus" value=name}}
						</div>
						<div class="form__item">
							{{input class="form__input" placeholder="Email address" type="text" autofocus="autofocus" value=email}}
						</div>
						<div class="form__item">
							<input class="form__input" placeholder="Logo" type="text" autofocus/>
						</div>
						<div class="form__item">
							<button class="button button--primary u-full-width" type="submit" >Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>