{{!-- {{ partial 'admin/nav' }} --}}

<div class="page-wrap">

	<div class="page-section">
		<div class="container">
			<div class="u-float-left">
				<div class="logo logo--partner u-float-left">
					<img src="/assets/images/user.png">
					{{!-- <img src="{{model.logo}}"> --}}
				</div>

				<div class="partner-details u-float-left">
					<h1 class="primary-heading">{{model.name}}</h1>
					<div class="secondary-heading">{{model.countries.length}} Countries</div>
					<div class="u-margin-top-sm">{{model.trainings.length}} Trained</div>
				</div>
				<div class="u-clear"></div>
			</div>

			<div class="u-float-right">
				{{#link-to 'admin.partners.edit' model tagName="button" class="button"}}Edit Partner{{/link-to}}
				<div class="u-clear"></div>
			</div>

			<div class="u-clear"></div>
			<div class="page-section__divider"></div>
			
		</div>
	</div>

	<div class="page-section page-section--has-margin-top">
		<div class="container">
			<div class="page-section__graph"></div>
			<div class="u-clear"></div>
			<div class="page-section__divider"></div>
		</div>
	</div>

	<div class="page-section">
		<div class="container">
			<div class="grid">

				{{!-- LEFT --}}
				<div class="grid__column grid__column--4">
					<div class="info-section">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>

					<div class="info-section">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>				
				</div>

				{{!-- CENTER --}}
				<div class="grid__column grid__column--4">
					<div class="info-section info-section--has-borders">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>

					<div class="info-section-group">
						<div class="info-section info-section--no-icon">
							<div class="info-section__label">Ghana</div>
							<div class="info-section__info">12,345</div>
						</div>
						<div class="info-section info-section--no-icon">
							<div class="info-section__label">Ghana</div>
							<div class="info-section__info">12,345</div>
						</div>
						<div class="info-section info-section--no-icon">
							<div class="info-section__label">Ghana</div>
							<div class="info-section__info">12,345</div>
						</div>
					</div>
				</div>

				{{!-- RIGHT --}}
				<div class="grid__column grid__column--4">
					<div class="info-section">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>
					<div class="info-section">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>