.u-clear{
    clear: both;
}

.u-float-right{
	float: right;
	display: inline-block;
}

.u-relative{
	position: relative;
}

.u-float-left{
	float: left;
	display: inline-block;
}

.u-inline-block{
	display: inline-block;
}

.u-text-center{
	text-align: center;
}

.u-text-left{
	text-align: left;
}

.u-text-right{
	text-align: right;
}

.u-full-width{
	width: 100%;
}

.u-text-muted{
	color: $color-body-text-muted;
}

.u-margin-top-sm{
	margin-top: 15px;
}

.u-margin-top-xs{
	margin-top: 5px;
}

.u-margin-left-sm{
	margin-left: 30px;
}










