$font-body: 'CircularWeb', sans-serif;

// Colors
$tuna: #363646;
$whisper: #F9F9FC;
$santas-gray: #9FA1AD;
$san-marino: #4956B5;
$cadet-blue: #A0A4BE;
$jungle-green: #28B493;
$supernova: #F7C800;
$silver: #CCCCCC;
$red: #B40B26;

$color-body-text: $tuna;
$color-body-text-muted: $santas-gray;

$background-muted: $whisper;


$border-color-default: $tuna;
$border-color-alt: $cadet-blue;
$border-color-form: $silver;
$border-color-form-focused: $santas-gray;

$button-background: $tuna;


// Dimensions
$border-radius: 2px; 
