.button{
	outline: none;
	border: 1px solid transparent;
	border-radius: $border-radius;
	text-align: center;
	cursor: pointer;
	padding: 10px 30px;
	font-size: 1.4rem;
	color: white;
	@include transition(.3s);

	&--primary{
		background-color: $button-background;
		color: white;
	} 

	&--delete{
		background-color: transparent;
		color: $red;
		border-color: $red;

		&:hover{
			background-color: $red;
			color: white;
		}
	} 

	&--lg{
		padding: 15px 45px;
		font-size: 1.6rem;
	} 

	&:focus{
		box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
	}
}

.link{
	display: inline-block;
	padding-bottom: 3px;
	border-bottom: 1px dotted $color-body-text-muted;
	color: $color-body-text-muted;
	@include transition(.3s);

	&:hover{
		color: $color-body-text;
		border-color: transparent;
	}
}