.form{

	&__heading{
		margin-bottom: 15px;
	}

	&__footer{
		margin-top: 30px;
	}

	&__body{
		margin-top: 30px;
	}

	&__item{
		margin-bottom: 10px;
	}

	&__input{
		padding: 10px 15px;
		font-size: 1.4rem;
		outline: none;
		border-radius: $border-radius;
		border: 1px solid $border-color-form;
		color: $color-body-text;
		width: 100%;
		@include transition(.3s);

		&:disabled{
			background-color: $whisper;
			color: $cadet-blue;
		}

		&:focus{
			border-color: $border-color-form-focused;
		}

		&--lg{
			padding: 15px 15px;
			font-size: 1.6rem;
		}
	}

	&--has-well{
		padding: 30px 0;
		background-color: $whisper;
		border: 1px solid #eee;
		border-radius: 2px;
	}

	&--has-margin-top-lg{
		margin-top: 75px;;
	}

	&--has-margin-top{
		margin-top: 45px;
	}
}