html {
    font-size: 62.5%;
    @include screen(small) {
        font-size: 58%;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: $font-body;
    font-size: 1.5rem;
    color: $color-body-text;
    line-height: 1.4;
}

input, 
button{
    font-family: $font-body;
}

h1,
h2,
h3,
h4{
	font-weight: 400;
    font-size: 2.1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo{
    height: 75px;
    width: 250px;

    img{
        width: 100%;
        object-position: center;
        object-fit: contain;
    }

    &--table{
        height: 25px;
        width: 45px;
    }

    &--centered{
        margin: auto;
    }

    &--partner{
        width: 150px;
        height: 150px;
        padding: 5px;
        border: 1px solid $silver;
        border-radius: 2px;

        // img{
            
        // }
    }
}

.primary-heading{
    font-size: 2.1rem;

    &--lg{
        font-size: 2.4rem;
    }
}

.secondary-heading{
    color: $color-body-text-muted;
    font-size: 1.4rem;
    margin-top: 15px;
}

.page{
    min-height: 100vh;
}

@include keyframes(fadein){
    from { opacity: 0; }
    to   { opacity: 1; }
}

.page-wrap{
    min-height: 100vh;
    padding: 45px 0 90px;

    &--muted-bg{
        background-color: $background-muted;
    }
}

.page-section{
    
    &--has-margin-top{
        margin-top: 45px;
    }

    &--has-margin-top-lg{
        margin-top: 75px;
    }

    &__divider{
        border-bottom: 1px solid #eee;
        margin-top: 45px;

        &--sm{
            margin-top: 30px;
        }

        &--xs{
            margin-top: 15px;
        }
    }

    &__graph{
        height: 450px;
        background-color: $whisper;
        border-bottom: 2px solid $cadet-blue;
    }
}

//=========================================
// PARTNER & COUNTRY PAGES 
//=========================================
.partner-details{
    padding: 15px 0;
    margin-left: 30px;
}

.info-section{
    padding: 45px;
    position: relative;
    border-bottom: 1px solid #eee;

    &-group{
        text-align: center;
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
    }

    .info-section__icon{
        height: 60px;
        width: 60px;
        position: absolute;
        text-align: center;
        border: 1px solid $silver;
        background-color: $whisper;
        border-radius: 50%;

        img{
            width: 60%;
            height: 60%;
            object-fit: contain;
            object-position: center;
            margin-top: 10px;
        }
    }

    &--icon-left{
        padding-left: 120px;
        .info-section__icon{
            left: 45px;
            top: 45px;

        }
    }

    &--icon-right{
        padding-right: 120px;
        text-align: right;
        
        .info-section__icon{
            top: 45px;
            right: 45px;
        }
    }

    &--icon-center{
        // padding-right: 120px;
        padding: 25px;
        text-align: center;

        .info-section__icon{
            display: inline-block;
            position: relative;
            margin-bottom: 10px;

            img{ 
                height: 45px; 
                width: 45px;
                margin-top: 7px;
            }
        }
    }

    &--no-icon{
        padding: 12px 45px;
        border-bottom: 1px solid #eee;
    }

    .info-section__label{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-body-text-muted;
        margin-top: 5px;
    }

    .info-section__info{
        font-size: 2.8rem;
        font-weight: 500;

        @at-root .info-section--no-icon .info-section__info{
            font-size: 2.1rem;
        }
    }

    &--has-borders{
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }
}


//========================
// SPINNER CUSTOMIZATIONS
//========================

$spinner-green:#1f8852;

#nprogress .bar{
    background: $spinner-green;
    height: 3px;
}
// blur effect
#nprogress .peg {
    box-shadow: 0 0 10px $spinner-green, 0 0 5px $spinner-green;
    opacity: 0.5;
}

#nprogress .spinner{
    top: 20px;
    right: 20px;
    display: none;
}

#nprogress .spinner-icon{
    width: 20px;
    height: 20px;

    border-top-color: $spinner-green;
    border-left-color: $spinner-green;
}

.page-wrap{
    // @include fadein(.3s);
}

.page-tabs{
    border-bottom: 1px solid lighten($silver, 12%);
}

.page-tab{
    display: inline-block;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: $santas-gray;
    cursor: pointer;
    text-align: center;
    @include transition(.3s);
    
    // font-weight: 500;
    border-bottom: 3px solid transparent;

    &:hover{
        color: $tuna;
    }

    &.active{
        color: $tuna;
        border-color: $tuna;
    }
}










