.nav{
	height: 75px;
	text-align: center;
	position: relative;
	box-shadow: 0 0px 3px rgba(205,190,173,.7);

	&__left{
		position: absolute;
		left: 20px;
		top: 0;
	}

	&__right{
		position: absolute;
		right: 20px;
		top: 0;
	}

	&__center{
		float: center;
		margin: 0 auto;
		display: inline-block;
	}

	&__logo{
		height: 50px;
		width: 220px;
		display: inline-block;
		margin-top: 12px;

		img{
		    width: 100%;
		}
	}

	&__tabs{
		text-align: center;
	}

	&__tab{
		display: inline-block;
		height: 75px;
		line-height: 75px;
		padding: 0 20px;
		text-transform: uppercase;
		font-weight: 500;
		color: $color-body-text-muted;
		font-size: 1.2rem;
		letter-spacing: .5px;
		cursor: pointer;
		position: relative;
		border-bottom: 3px solid transparent;
		@include transition(.3s);

		&:hover{
			color: $color-body-text;
		}

		&:after{
			position: absolute;
			height: 35px;
			width: 1px;
			background-color: $border-color-alt;
			opacity: .15;
			top: 50%;
			right: 0;
			content: '';
			transform: translateY(-50%);
		}

		&:last-child{
			&:after{
				display: none;
			}
		}

		&.active{
			color: $color-body-text;
			border-color:$border-color-default;
		}
	}

	&__profile{
		padding: 12px;
	}

	&__profile-image{
		height: 50px;
		width: 50px;
		border-radius: 50%;
		// border: 1px solid $border-color-alt;
		border: 1px solid $silver;
		background-color: $whisper;

		background-image: url(/assets/images/user.png);
		background-size: cover;
		
	}

	&__dropdown-menu{
		position: absolute;
		display: inline-block;
		min-width: 200px;
		background-color: white;
		text-align: left;
		right: 0;
		top: 90%;
		border-radius: 2px;
		padding: 8px 0;
		box-shadow: 0 1px 6px rgba(0,0,0,.1);
		z-index: 999;
		@include transition(.3s);
		transform-origin: 100% 0;
		border: 1px solid #eee; 

		//hide menu by default
		transform: scale(0);
		opacity: 0;
		pointer-events: none;

		//show menu when .nav__profile is hovered
		@at-root .nav__profile:hover .nav__dropdown-menu{
			height: auto;
			transform: scale(1);
			transform-origin: 100% 0;
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__dropdown-item{
		padding: 10px 20px;
		cursor: pointer;
		font-size: 1.4rem;
		@include transition(.3s);

		&:hover{
			background-color: $whisper;
		}
	}
	
	&__dropdown-item--label{
		font-size: 1.3rem;
		&:hover{
			background-color: transparent;
			cursor: auto;
		}
	}

	&__dropdown-divider{
		height: 1px;
		background-color: #f4f4f4;
		width: 100%;
		margin: 8px 0;
	}
}








