.table-wrap {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}


/* Zebra striping */

th {
    background-color: none;
    font-weight: 500;
    color: $color-body-text-muted;
    thead & {
        border-bottom: 1px solid $border-color-alt;
    }
}

tbody {
    tr {
        @include transition(.3s);
        &:hover {
            background: $whisper;
        }
    }
}

td,
th {
    padding: 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
    vertical-align: middle;
    .is-expanded & {
        vertical-align: top;
        padding: 20px 15px;
        background-color: $whisper;
    }
}


/*=================================*/


/* REPORTS
/*=================================*/

.report-table {
    font-size: 1.4rem;
    line-height: 1.6;
    
    // th,
    // td{
    //     padding: 15px;
    // }
}

.report-table__status {
    text-align: center;
    padding-bottom: 10px;

    .status-icon{
        display: none;
    }
}

.report-table__status--approved{
    .status-icon--approved{
        display: inline-block;
    }
}

.report-table__status--flagged{
    .status-icon--flagged{
        display: inline-block;
    }
}

.report-table__status--pending{
    .status-icon--pending{
        display: inline-block;
    }
}

.report-table__details {
    width: 48%;
}

.report-table__title {
    font-size: 1.4rem;
    height: 1;
    opacity: 1;
    @include transition(.3s);
    // overflow: ;
    // color: $color-body-text-muted;

    .is-expanded & {
        // font-weight: bold;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

.report-table__content {
    // color: $color-body-text-muted;
    height: 0;
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    // font-size: 1.4rem;
    line-height: 1.25;
    @include transition(.3s);

    .is-expanded & {
        height: auto;
        pointer-events: cursor;
        opacity: 1;
    }

    .report-table__content-section {
        margin-bottom: 15px;
    }

}

.report-table__status-icon {
    // margin-left: 5px;
    height: 40px;
    width: auto;
    // border-radius: 50%;
    // background-color: $jungle-green;
}

.report-table__toggle {
    color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    tr:hover & {
        color: $color-body-text-muted;
    }
}


/*=================================*/
/* PARTNERS
/*=================================*/

// .partner-table__logo{
//   width: 120px;
//   background-color: $jungle-green;
// }
.partner-table__action {
    color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    tr:hover & {
        color: $color-body-text-muted;
    }
}


/*=================================*/
/* COUNTRIES
/*=================================*/

.country-table__action {
    color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    tr:hover & {
        color: $color-body-text-muted;
    }
}
