{{!-- {{ partial 'admin/nav'}} --}}

<div class="page-wrap">
	
	<div class="page-section">
		<div class="container">

			<div class="form form--has-well">
				<div class="container container--md">
					
					<div class="grid grid--with-gutters">
						<div class="grid__column grid__column--12">
							<div class="form__heading">
								<h2 class="primary-heading">New Budget</h2>
							</div>
						</div>
						
						<div class="grid__column grid__column--4">
							<div class="form__item">
								{{input type="number" class="form__input" placeholder="Quarter" value=quarter }}
							</div>
						</div>
						<div class="grid__column grid__column--4">
							<div class="form__item">
								{{input type="number" class="form__input" name="" placeholder="Amount" value=amount }}
							</div>
						</div>
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<button type="submit" class="button button--primary u-full-width" {{action 'createBudget'}}>Add Budget</button>
							</div>
						</div>
					</div>
					{{!-- End grid --}}
				</div>
			</div>
			{{!-- End form --}}
		</div>
	</div>


	<div class="page-section page-section--has-margin-top">
		<div class="container">
			<div class="container container--md">

				<div class="grid grid--with-gutters">

					<div class="form__heading">
						<div class="grid__column grid__column--12">
							<h2 class="primary-heading primary-heading--forecasts">Budgets</h2>
						</div>
						<div class="u-clear"></div>
					</div>

					{{#if model.length }}
						{{#each model as |budget|}}
							{{#budget-item budget=budget}}
								<div class="grid__column grid__column--2">
									<div class="form__item">
										<button type="submit" class="button button--md button--primary u-full-width" {{action 'updateBudget' budget}}>Update</button>
									</div>
								</div>
								<div class="grid__column grid__column--2">
									<div class="form__item">
										<button type="submit" class="button button--md button--delete u-full-width" {{action 'deleteBudget' budget}}>Delete</button>
									</div>
								</div>
							{{/budget-item}}
						{{/each}}
					{{else}}
						<div class="page-section page-section">
							<div class="page-section__divider page-section__divider--sm"></div>
							<div class="u-text-muted u-margin-top-sm u-margin-left-sm">No Budgets added yet</div>
							<div class="page-section__divider page-section__divider--xs"></div>
						</div>
						
					{{/if}}
				</div>

			</div>
		</div>
	</div>


	{{!-- <div class="page-section page-section--has-margin-top">
		<div class="container">
			{{stacked-vertical-bar-chart data=graphData selectedSeedColor=selectedSeedColor barSortKey=none strokeWidth=0}}
		</div>
	</div> --}}


</div>