{{!-- {{ partial 'admin/nav' }} --}}

<div class="page-wrap">
	<div class="page-section page-section--reports">
		<div class="container">
			<table class="table report-table">
				<thead>
					<tr>
						<th class='u-text-center'>Status</th>
						<th>Details</th>
						<th>Attendees</th>
						<th>Country</th>
						<th>Date</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each model as |training|}}
						{{report-item training=training}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
