{{!-- {{ partial 'admin/nav'}} --}}

<div class="page-wrap">
	
	<div class="page-section">
		<div class="container">
			<form class="form form--has-well" >
				<div class="container container--md">
					
					<div class="grid grid--with-gutters">
						<div class="grid__column grid__column--12">
							<div class="form__heading">
								<h2 class="primary-heading">New Target</h2>
							</div>
						</div>
						
						<div class="grid__column grid__column--4">
							<div class="form__item">
								{{input type="number" class="form__input" value=quarter placeholder="Quarter"}}
							</div>
						</div>
						<div class="grid__column grid__column--4">
							<div class="form__item">
								{{input type="number" class="form__input" name="" placeholder="Total trained" value=totalTrained}}
							</div>
						</div>
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<button type="submit" class="button button--primary u-full-width" {{action 'createTarget'}}>Add Target</button>
							</div>
						</div>
					</div>
					{{!-- End grid --}}
				</div>
			</form>
		</div>
	</div>


	<div class="page-section page-section--has-margin-top">
		<div class="container">
			<div class="container container--md">

				<div class="grid grid--with-gutters">
					<div class="form__heading">
						<div class="grid__column grid__column--12">
							<h2 class="primary-heading primary-heading--forecasts">Targets</h2>
						</div>
						<div class="u-clear"></div>
					</div>
					{{#if targets.length }}
						{{#each targets as |target|}}
							{{#target-item target=target}}
								<div class="grid__column grid__column--2">
									<div class="form__item">
										<button type="submit" class="button button--md button--primary u-full-width" {{action 'updateTarget' target}}>Update</button>
									</div>
								</div>
								<div class="grid__column grid__column--2">
									<div class="form__item">
										<button type="submit" class="button button--md button--delete u-full-width" {{action 'deleteTarget' target}}>Delete</button>
									</div>
								</div>
							{{/target-item}}
						{{/each}}
					{{else}}
						<div class="page-section page-section">
							<div class="page-section__divider page-section__divider--sm"></div>
							<div class="u-text-muted u-margin-top-sm u-margin-left-sm">No targets added yet</div>
							<div class="page-section__divider page-section__divider--xs"></div>
						</div>
						
					{{/if}}
				</div>

			</div>
		</div>
	</div>


	<div class="page-section page-section--has-margin-top">
		<div class="container">
			{{vertical-bar-chart data=realGraphData selectedSeedColor=selectedSeedColor barSortKey=none strokeWidth=0 xValueDisplayName="Quarter" yValueDisplayName="People Trained" hasXAxisTitle=true hasYAxisTitle=true}}
		</div>
	</div>


</div>