
<div class="page-section">
	<div class="container">
		<div class="page-section__graph">
			
		</div>
	</div>
</div>

<div class="page-section page-section--has-margin-top">
	<div class="container">
		<div class="dashboard-section__heading">
			<div class="u-float-right">
				{{#link-to "reports.new" tagName="button" class="button button--primary"}}New Report{{/link-to}}
			</div>
			<div class="u-clear"></div>
		</div>
	</div>
</div>

<div class="page-section page-section--has-margin-top">
	<div class="container">
		<table class="table report-table">
			<thead>
				<tr>
					<th class="u-text-center">Status</th>
					<th>Details</th>
					<th>Attendees</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{report-item}}
				{{report-item}}
				{{report-item}}
				{{report-item}}
				{{report-item}}
				{{report-item}}
				{{report-item}}
				{{report-item}}
			</tbody>
		</table>
	</div>
</div>