<div class="container">
	<div class="grid">
		<div class="grid__column grid__column--4 grid__column--centered">
			
			<form class="form form--new-report">
				<div class="form__heading u-text-center">
					<h1 class="primary-heading">New Report</h1>
				</div>

				<div class="form__body">
					<div class="form__item">
						<input class="form__input" placeholder="Title" type="text" autofocus/>
					</div>
					<div class="form__item">
						<input class="form__input" placeholder="Country" type="text" autofocus/>
					</div>
					<div class="form__item">
						<input class="form__input" placeholder="No. of Attendees" type="text" autofocus/>
					</div>
					<div class="form__item">
						<input class="form__input" placeholder="Date" type="text" autofocus/>
					</div>
					<div class="form__item">
						<textarea class="form__input" placeholder="Description" rows=3></textarea>
					</div>
					<div class="form__item">
						<input class="form__input" placeholder="Images" type="text" autofocus/>
					</div>
					<div class="form__item">
						<input class="button button--primary u-full-width" type="submit" value="Save" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>