{{!-- {{ partial 'admin/nav' }} --}}

<div class="page-wrap">

	<div class="page-section">
		<div class="container">
			<div class="">
				<div class="u-float-left u-margin-top-xs">
					<h1 class="primary-heading primary-heading--lg u-inline-block">{{model.name}}</h1>
					<span class="u-text-muted u-margin-top-xs u-margin-left-sm">{{model.partners.length}} Partners</span>
					<span class="u-margin-top-xs u-margin-left-sm">0 Trained</span>
					<div class="u-clear"></div>
				</div>

				<div class="u-float-right">
					{{#link-to 'admin.countries.edit' model tagName="button" class="button"}}Edit Country{{/link-to}}
					<div class="u-clear"></div>
				</div>
			</div>

			<div class="u-clear"></div>
			<div class="page-section__divider page-section__divider--sm"></div>
			
		</div>
	</div>

	<div class="page-section page-section--has-margin-top">
		<div class="container">
			<div class="page-section__graph"></div>
			<div class="u-clear"></div>
			<div class="page-section__divider"></div>
		</div>
	</div>

	<div class="page-section">
		<div class="container">
			<div class="grid">

				{{!-- LEFT --}}
				<div class="grid__column grid__column--4">
					<div class="info-section">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>

					<div class="info-section">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>				
				</div>

				{{!-- CENTER --}}
				<div class="grid__column grid__column--4">
					<div class="info-section info-section--has-borders">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>

					<div class="info-section-group">
						<div class="info-section info-section--no-icon">
							<div class="info-section__label">Ghana</div>
							<div class="info-section__info">12,345</div>
						</div>
						<div class="info-section info-section--no-icon">
							<div class="info-section__label">Ghana</div>
							<div class="info-section__info">12,345</div>
						</div>
						<div class="info-section info-section--no-icon">
							<div class="info-section__label">Ghana</div>
							<div class="info-section__info">12,345</div>
						</div>
					</div>
				</div>

				{{!-- RIGHT --}}
				<div class="grid__column grid__column--4">
					<div class="info-section">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>
					<div class="info-section">
						<div class="info-section__icon"></div>
						<div class="info-section__label">Total trained</div>
						<div class="info-section__info">12,345</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>