{{!-- {{ partial 'admin/nav' }} --}}

<div class="page-wrap">

	<div class="page-section">
		<div class="container">
			<div class="u-float-right">
				{{#link-to "admin.countries.new" tagName="button" class="button button--primary"}}Add Country{{/link-to}}
			</div>
			<div class="u-clear"></div>
		</div>
	</div>

	<div class="page-section page-section--has-margin-top">
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Country</th>
						<th>Trained #</th>
						<th>Online #</th>
						<th>Offline #</th>
						<th>Partners #</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each model as |country|}}
						{{country-item country=country}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
