<div class="page-section">
	<div class="container">
		<ul class="page-tabs">
			{{!-- <li class="page-tab">Partners</li> --}}
			{{#link-to "admin.dashboard.partners" tagName="li" class="page-tab"}}
				<a href="">Partners</a>
			{{/link-to}}
			{{#link-to "admin.dashboard.countries" tagName="li" class="page-tab"}}
				<a href="">Countries</a>
			{{/link-to}}
		</ul>
	</div>
</div>

<div class="page-section u-margin-top-xs">
	<div class="container">
		{{stacked-vertical-bar-chart data=realGraphData selectedSeedColor=selectedSeedColor barSortKey=none strokeWidth=0 xValueDisplayName="Partners" yValueDisplayName="People Trained" hasXAxisTitle=true hasYAxisTitle=true}}
	</div>
</div>

<div class="page-section page-section--has-margin-top-lg">
	<div class="container">
		<div class="page-section__divider"></div>
		<div class="grid">

			{{!-- LEFT --}}
			<div class="grid__column grid__column--4">
				<div class="info-section info-section--icon-left">
					<div class="info-section__icon">
						<img src="/assets/images/icons/offline.svg">
					</div>
					<div class="info-section__label">Trained Offline</div>
					<div class="info-section__info">{{totalOffline}}</div>
				</div>

				<div class="info-section info-section--icon-left">
					<div class="info-section__icon">
						<img src="/assets/images/icons/online.svg">
					</div>
					<div class="info-section__label">Trained Online</div>
					<div class="info-section__info">{{totalOnline}}</div>
				</div>				
			</div>

			{{!-- CENTER --}}
			<div class="grid__column grid__column--4">
				<div class="info-section info-section--has-borders info-section--icon-center">
					<div class="info-section__icon">
						<img src="/assets/images/icons/group.svg">
					</div>
					<div class="info-section__label">Total trained</div>
					<div class="info-section__info">{{totalTrained}}</div>
				</div>

				<div class="info-section-group">
					{{#each breakdown as |item| }}
					<div class="info-section info-section--no-icon">
						<div class="info-section__label">{{item.name}}</div>
						<div class="info-section__info">{{item.trained}}</div>
					</div>
					{{/each}}
				</div>
			</div>

			{{!-- RIGHT --}}
			<div class="grid__column grid__column--4">
				<div class="info-section  info-section--icon-right">
					<div class="info-section__icon">
						<img src="/assets/images/icons/men.svg">
					</div>
					<div class="info-section__label">Men trained</div>
					<div class="info-section__info">{{totalMale}}</div>
				</div>
				<div class="info-section  info-section--icon-right">
					<div class="info-section__icon">
						<img src="/assets/images/icons/women.svg">
					</div>
					<div class="info-section__label">Women trained</div>
					<div class="info-section__info">{{totalFemale}}</div>
				</div>
			</div>
		</div>
	</div>
</div>