<div class="page-wrap page-wrap--muted-bg">
	<div class="container">
		<div class="grid">
			<div class="grid__column grid__column--4 grid__column--centered">

				<div class="logo logo--centered">
					<img src="/assets/images/logo.png" class="u-full-width">
				</div>
				
				<form class="form form--has-margin-top" {{action 'goToDashboard' on='submit'}}>

					<div class="form__heading u-text-center">
						<h1 class="primary-heading">Admin Login</h1>
						<p class="secondary-heading">Welcome back. Please enter your login details to gain access.</p>
					</div>

					<div class="form__body">
						<div class="form__item">
							<input class="form__input form__input--lg" placeholder="Email Address" type="email" autofocus/>
						</div>
						<div class="form__item">
							<input class="form__input form__input--lg" placeholder="Password" type="password"/>
						</div>
						<div class="form__item">
							<button class="button button--primary button--lg u-full-width" type="submit">Login</button>
						</div>
					</div>

					<div class="form__footer u-text-center">
						<a href="#" class="link">forgot password?</a>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>