{{ partial 'nav'}}

<div class="page-wrap">
	
	<div class="page-section">
		<div class="container">

			<div class="form form--has-well">
				<div class="container container--md">
					
					<div class="grid grid--with-gutters">
						<div class="grid__column grid__column--12">
							<div class="form__heading">
								<h2 class="primary-heading">New Forecast</h2>
							</div>
						</div>
						
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<input type="text" class="form__input" name="" placeholder="Quarter" />
							</div>
						</div>
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<input type="text" class="form__input" name="" placeholder="Number of Attendees" />
							</div>
						</div>
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<input type="submit" class="button button--primary u-full-width" name="" placeholder="Quarter" value="Add Forecast" />
							</div>
						</div>
					</div>
					{{!-- End grid --}}
				</div>
			</div>
			{{!-- End form --}}
		</div>
	</div>


	<div class="page-section page-section--has-margin-top">
		<div class="container">
			<div class="container container--md">

				<div class="grid grid--with-gutters">

					<div class="form__heading">
						<div class="grid__column grid__column--12">
							<h2 class="primary-heading primary-heading--forecasts">Forecasts</h2>
						</div>
						<div class="u-clear"></div>
					</div>

					<form class="form">
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<input type="text" class="form__input" name="" placeholder="Quarter" />
							</div>
						</div>
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<input type="text" class="form__input" name="" placeholder="Number of Attendees" />
							</div>
						</div>
						<div class="grid__column grid__column--2">
							<div class="form__item">
								<input type="submit" class="button button--md u-full-width" name="" value="Update" />
							</div>
						</div>
						<div class="grid__column grid__column--2">
							<div class="form__item">
								<input type="submit" class="button button--md button--delete u-full-width" name="" value="Delete" />
							</div>
						</div>
					</form>

					<form class="form">
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<input type="text" class="form__input" name="" placeholder="Quarter" />
							</div>
						</div>
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<input type="text" class="form__input" name="" placeholder="Number of Attendees" />
							</div>
						</div>
						<div class="grid__column grid__column--2">
							<div class="form__item">
								<input type="submit" class="button button--md u-full-width" name="" value="Update" />
							</div>
						</div>
						<div class="grid__column grid__column--2">
							<div class="form__item">
								<input type="submit" class="button button--md button--delete u-full-width" name="" value="Delete" />
							</div>
						</div>
					</form>

					<form class="form">
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<input type="text" class="form__input" name="" placeholder="Quarter" />
							</div>
						</div>
						<div class="grid__column grid__column--4">
							<div class="form__item">
								<input type="text" class="form__input" name="" placeholder="Number of Attendees" />
							</div>
						</div>
						<div class="grid__column grid__column--2">
							<div class="form__item">
								<input type="submit" class="button button--md u-full-width" name="" value="Update" />
							</div>
						</div>
						<div class="grid__column grid__column--2">
							<div class="form__item">
								<input type="submit" class="button button--md button--delete u-full-width" name="" value="Delete" />
							</div>
						</div>
					</form>
					{{!-- End form --}}
				</div>

			</div>
		</div>
	</div>


	<div class="page-section page-section--has-margin-top">
		<div class="container">
			<div class="page-section__graph">
				
			</div>
		</div>
	</div>


</div>