<nav class="nav">
	<div class="nav__left">
		<div class="nav__logo">
			<img src="/assets/images/logo.png">
		</div>
	</div>
	<div class="nav__center">
		<ul class="nav__tabs">
			{{#link-to "reports" tagName="li" class="nav__tab"}}<a href="">Reports</a>{{/link-to}}
			
			{{#link-to "forecasts" tagName="li" class="nav__tab"}}<a href="">Forecasts</a>{{/link-to}}
		</ul>
	</div>
	<div class="nav__right">
		<div class="nav__profile">
			<div class="nav__profile-image"></div>
			<ul class="nav__dropdown-menu">
				<li class="nav__dropdown-item nav__dropdown-item--label u-text-muted">onyekachi.mbaike@gmail.com</li>
				{{!-- <li class="nav__dropdown-divider"></li> --}}
				<li class="nav__dropdown-item">Flagged Reports</li>
				<li class="nav__dropdown-item">Logout</li>
			</ul>
		</div>
	</div>
</nav>